<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>Edit the Comment</h1>
      <%= form_for @comment, url: {action: "update"} do |f| %>
        <div class="form-group">
          <label for="content">Content</label>
          <%= f.text_area :content, class: 'form-control' %>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Modifier le commentaire</button>
        </div>
      <% end %>
    </div>
  </body>
</html>
