<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <p><img src="https://file1.closermag.fr/extension/closermag/design/closermag/images/layout/main-logo.png" alt=""></p>
        <p class="lead">THE GOSSIP PROJECT</p>
        <hr class="my-4">
        <h3>Sois au courant de tous les gossips grâce à ATHENA NOVOTEL</h3>
        <p><%= link_to "S'inscrire", new_user_path, class: "btn btn-primary" %> <%= link_to "Se connecter", new_session_path, class: "btn btn-primary" %></p>
      </div>
    </div>
  </body>
</html>
