<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h1>Team Presentation</h1>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <p>This presents the team who did the work</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="card-deck">
          <div class="card">
            <img src="https://pbs.twimg.com/profile_images/1083328491955937280/0DBdOWUy_400x400.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Quentin Churet</h5>
              <p class="card-text text-justify">Jeune ingénieur souhaitant percer dans le monde merveilleux du code & de l'IA</p>
            </div>
          </div>
          <div class="card">
            <img src="https://pbs.twimg.com/profile_images/490802202383253504/b3gLQarH.jpeg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">The Train</h5>
              <p class="card-text text-justify">En ce moment je fais des aller-retour à Paris pour visiter des appartements... Donc mon collègue de peer-learning est mon abonnement TGVmax !</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
